

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg:#081F5C;
  --color1:#334EAC;
  --color2:#7096D1;
  --color3: #D0E3FF;
  --color4:#E7F1FF;
  --color5:#f9fcff;
  --text:clamp(1.3rem, 0.185rem + 3.258vw, 0.95rem);
  --small-text:clamp(0.570rem, 0.185rem + 3.258vw, 0.75rem)
}
html{
  font-family:  poppin, sans-serif
 
}
body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, 
rgba(2,0,36,1) 0%,
 rgba(79,79,224,1) 9%,
 rgba(0,212,255,1) 100%);
 padding: 20px;
 
 font-size: var(--text);
 min-height: 10vh;
 

}

h1{
  font-size: clamp(1.000rem, 0.185rem + 3.258vw, 3.625rem);
}
h2{
  font-size: clamp(1.000rem, 0.185rem + 3.258vw, 3.625rem);
}
h3{
  font-size: clamp(1.000rem, 0.185rem + 3.258vw, 3.235rem);
  
}
h4, h5, h6{
  font-size: clamp(1.000rem, 0.185rem + 3.258vw, 1.825rem);
}
.App{
   min-height: 100vh; 
  padding: 10px;

}
form{
  position: relative;
  display: flex;
  margin: auto;
  max-width: 700px;
  margin-top: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:transparent;
  padding:  1.8rem;
  border-radius: 7px;
  font-size: var(--text);
  border: 1px solid var(--color5);
  box-shadow: 4px 4px 164px var(--color4);
  transition: all 0.5s;
  animation: form 0.5s linear;
  
}
@keyframes form {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
 form label{
  display: flex;
  gap: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color3);
}
h1, h2 {
color: aqua;
text-align: center;
animation: headers 0.5s linear;

}
@keyframes headers {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
h3, h4{
  color: cornsilk;
  text-align: center;
  font-family: poppin;
}

.header {
  text-align: center;
  padding: 2rem;
  background-color: var(--color4);
  border-bottom: 1px solid var(--color1);

}
strong{
  color:aqua;
}
.header h1 {
  margin-bottom: 0.5rem;
}

.header p {
  font-size:var(--text);
  color: var(--color1);
  line-height: 1.5;
  margin-bottom: 1rem;
  animation: head 0.6s linear;
}
@keyframes head {
  from {
    transform: translateY(-100%);
    
  }
  to {
    transform: translateY(0);
    
  }
}

.goal-form h2{
  margin-bottom: 2rem;
}
.goal-form p {
  margin-top: 10px;
  color: red;
}

button{
  border: none;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  color: var(--color4);
  background:var(--color1);
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s all ease-in-out;
}
button:hover{
  background:var(--color3);
  color: var(--color1);
}
form button{
 margin-top: 15px;
 margin-left: 50%;
}
input,textarea{
  outline: none;
 background: #E7F1FF;
 color: var(--color1);
 padding: 5px 8px;
 border: 1px solid var(--color3);
 border-radius: 5px;
 margin-left: 10px;
 transition: 0.5s all;
}

.invalid {
 border: 2px solid red;
}

.error{
  color: red;
  font-size: var(--small-text);
}


input:focus, textarea:focus{
  border: 2px solid aqua;
}

.goal-display{
  margin-top: 4rem;
  color: var(--color4);
 min-height: 100vh;
}


.indication{
  margin-top: 1.6rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--color5);
  border-radius: 10px;
  /* border: 1px solid var(--color3); */
}

 .goal-display h1{
  margin-bottom: 1rem;
 
  
} 
.goal-display p{
  text-align: center;
  line-height: 1.5;
}
.goal-display p strong:nth-child(4){
  display:inline-block;
  animation: sec 1s linear infinite;
}
@keyframes sec {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.goal-display li{
 margin-top: 1.5rem;
  list-style: none;
}
.description{
  display: flex;
  align-items: center;
  gap: 10vh;
}
.contributions{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contributions li{
  margin: 0 0 10px;
}
.contributions p {
  line-height: normal;
}
.contributions p strong{
  line-height: normal;
  color: rgb(222, 171, 103);
}

.percentage-contibution {
  display: flex;
  gap: 8px;
align-items: center;
}
.contribution-bar {
  
  height: 15px;
  background-color: rgb(0, 191, 255);
  
  text-align: center;
  color: var(--color5);
  font-size: var(--small-text);
  
}



.chart{
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  background: conic-gradient(white, rgba(52, 91, 197, 0.978) 0deg );
  
}
.chart::after{
 content: "";
 position: absolute;
 width: 100px;
 height: 100px;
 border-radius: 50px;
 background: #D0E3FF;

}
.chart span{
  color: #081F5C;
  font-weight: 600;
  font-size: var(--small-text);
  z-index: 9;
}
.group-management{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background:var(--color2);
  padding: 0.8rem;
  border-radius: 16px;
  
}
.participante{
  background: rgb(181, 114, 89);
  display: grid;
  grid-template-columns: 0.8rem 1fr auto;
  align-items: center;
  margin-top: 0.7rem;
  row-gap: 0.3rem;
max-width: 700px;
  padding: 0.7rem;
  margin-bottom: 0.3rem;
  border-radius: 7px;
  transition: 0.5s;
}
.group-management label{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 15px;
}
.participante span{
  grid-row: 2;
  grid-column: span 2;
  font-size: 1rem;
  color: var(--color5);
}
.participante img{
  border-radius: 50%;
}

 label .error{
  color: red;
  font-size: var(--small-text);
}

@media  screen and (max-width:768px) {
  body{
    padding: 0 0 20px;
  }
form{
  max-width: 600px;
}
.description{
  flex-direction: column;
  gap: 5vh;
}
.indication{
  margin-bottom: 3rem;
  margin-top: 1rem;
}
}

